<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>자바스크립트 이벤트</title>
<script type="text/javascript" src="../js/event_test.js"></script>

<script type="text/javascript">
	function showDocument(){
		console.log("title : " + document.title);
		console.log("location : " + document.location);
		console.log("lastModified : " + document.lastModified);
		console.log("referrer : " + document.referrer);
		console.log("bgColor : " + document.bgColor);
		console.log("fgColor : " + document.fgColor);
		console.log("linkColor : " + document.linkColor);
		console.log("alinkColor : " + document.alinkColor);
		console.log("vlinkColor : " + document.vlinkColor);
		console.log("anchors : " + document.anchors);
		console.log("forms : " + document.forms);
		console.log("links : " + document.links);
		console.log("images : " + document.images);
		console.log("applets : " + document.applets);
		console.log("embeds : " + document.embeds);
		console.log("cookie : " + document.cookie);
		console.log("open() : " + document.open());
		console.log("close() : " + document.close());
		console.log("clear() : " + document.clear());
		console.log("write() : " + document.write());
		console.log("writeln() : " + document.writeln());
		console.log("onFocus : " + document.onFocus);
		console.log("onBlur : " + document.onBlur);
		
		console.log("appName : " + navigator.appName);
		console.log("appVersion : " + navigator.appVersion);
		console.log("appCodeName : " + navigator.appCodeName);
		console.log("userAgent : " + navigator.userAgent);
		console.log("mimeTypes : " + navigator.mimeTypes);
		console.log("plugins : " + navigator.plugins);
		console.log("javaEnabled() : " + navigator.javaEnabled());
	}
</script>
</head>
<body>
	<h1>자바스크립트 이벤트와 핸들러 테스트</h1>
	<button onclick="history.back()">뒤로</button>
	<button id="btn">결과 확인</button><br>
	
	<select id="nation">
	<option value="">번호를 선택하세요.</option>
	<option value="0">No.0</option>
	<option value="1">No.1</option>
	<option value="2">No.2</option>
	<option value="3">No.3</option>
	</select>
	<ul>
	<li style="width:100px;">Korea</li>
	<li style="width:100px;">Japan</li>
	<li style="width:100px;">China</li>
	<li style="width:100px;">Betnam</li>
	</ul>
	<p>
	<hr>
	<button onclick="window.location.href='http://www.daum.net';">다음으로 이동</button>
	<p>
	<hr>
	<button onclick="showDocument();">document 정보 확인</button>
	</body>
</html>